.social-media-activity {
    margin-left: 18px;
}

.social-media-activity>.graphs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin-right: 20px;
    margin-top: 40px;
}

.social-media-activity>h3 {
    font-size: 25px;
    font-weight: 900;
    color: grey;
}

.social-media-activity>h4 {
    font-size: 25px;
    font-weight: 900;
}

.social-media-activity>p {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 18px;
}

.social-media-activity>.social-media-activity-label{
    text-align: center;
}

.social-media-activity > .social-media-activity-label > h3{
    text-transform: uppercase;
    color:grey;
    font-size:22px;
    font-weight:900;
}

.social-media-activity>.social-media-activity-label> h4{
    font-size: 35px;
    opacity: 0.9;
    margin-right:60px;
    font-weight: 300;
}

.social-media-activity>.social-media-activity-label>p{
    font-size: 20px;
    margin-left:45px;
}

.social-media-activity-growth > span{
    margin-left:25px;
}
