#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
    width: 98%;
    margin-left: 20px;
}

#nav>p {
    color: blue;
}


#nav-1 {
    display: flex;
    align-items: center;
}

#nav-1>i {
    margin-left: 10px;
}

#nav-2 {
    display: flex;
}

#nav-2>h4 {
    margin-right: 10px;
    border: 2px solid blue;
    padding: 5px 10px;
    color: blue;
    font-weight: 600;
    border-radius: 10px;
}

#nav-2>select {
    margin-right: 10px;
    padding: 5px 30px;
}